body {
	display: flex;
	justify-content: center;
  background-color: #8c11be;
  margin: 0;
  font-family: 'Raleway', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
* {
  box-sizing: border-box;
}
